.red {
  fill: #db2828;
}

.orange {
  fill: #f2711c;
}

.yellow {
  fill: #fbbd08;
}

.olive {
  fill: #b5cc18;
}

.green {
  fill: #21ba45;
}

.teal {
  fill: #00b5ad;
}

.blue {
  fill: #0084ff;
}

.violet {
  fill: #6435c9;
}

.purple {
  fill: #a333c8;
}

.pink {
  fill: #e03997;
}

.brown {
  fill: #a5673f;
}
