@import '~styles/typography.css';
@import '~styles/spacing.css';

.chatWrapper {
  display: flex;
  grid-area: chat;
  overflow: auto;
}

.list {
  width: 100%;
  padding: var(--space-s);
  border-radius: var(--space-xs);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.list::-webkit-scrollbar {
  width: 0.8em;
}

.list::-webkit-scrollbar-track {
  border-radius: var(--space-xs);
}

.list::-webkit-scrollbar-thumb {
  border-radius: var(--space-xs);
}

.messageBlock {
  margin: var(--space-xxs);
}

.text {
  margin: var(--space-xxs);
  padding: var(--space-xxs) var(--space-s);
  border-radius: var(--space-xs);

  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  max-width: calc(100% - var(--space-xxl));
}

.message {
  display: flex;
  align-items: flex-start;
}

.message > * {
  margin: var(--space-xxs);
}

.timeMessage {
  font-size: var(--text-s);
}

.author {
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
