@import '~styles/colors.css';

.settingsMobileWrapper {
  grid-area: settingsMobile;
}

.settingsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  border-radius: 6px;
}

.selectRoot > svg {
  width: 20px;
  height: 20px;
}

.selectRoot > svg > circle {
  cy: 10px;
  cx: 10px;
  r: 10;
}

.selectColor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menuItem {
  padding: 4px;
}
