@import '~styles/spacing.css';

.App {
  padding: var(--space-s);
  height: calc(100vh - calc(var(--space-s) * 2));

  display: grid;
  grid-template-areas:
    'logo logo logo logo logo'
    '. . . . .'
    'user . chat . .'
    '. . chat . .'
    'settings . chat . . '
    '. . chat . . '
    '. . . . . '
    '. . sending . .';

  grid-template-rows: auto 5px auto 5px auto 1fr 5px auto;
  grid-template-columns: 2fr 5px 4fr 5px 1fr;
}

@media only screen and (max-width: 960px) {
  .App {
    grid-template-areas:
      'logo '
      ' user '
      '.  '
      'settingsMobile'
      '.  '
      'chat '
      '.  '
      'sending';
    grid-template-rows: auto auto 5px auto 5px 1fr 5px auto;
    grid-template-columns: 1fr;
  }
}
